* {
    margin: 0;
    padding: 0;
    color: #333;
}

a {
    text-decoration: none;   
}

/* ヘッダー */
.header {
    margin:2vw auto;
    width:98%;
    height:100px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-logo {
    width:10vw;
    height:10vw;
}

header .welcome {
    font-size: 5vw;
    display: flex;
    align-items: center;
}
.header ul {
    display: flex;
    
}

.header li {
    padding-left: 15px;
    font-size: 2vw;
}


.section1 {
    background: linear-gradient(90deg, rgb(8, 194, 255),rgb(0, 107, 255));
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 p {
    font-size: 4vw;
    text-align: center;
    color: white;
}


.section2 {
    display: flex;
    flex-direction: column; /* 必要なら縦方向に揃える */
    align-items: center; /* 子要素を中央揃え */
    justify-content: center; /* 縦方向に中央揃え */
    width: 90%;
    margin: 0 auto; /* 左右中央寄せ */
}


.introduce {
    display: flex;
    width: 100%;
    height: 30vw;
    padding: 20px;
}

.opposite {
    flex-direction: row-reverse;
}

.introduce-img {
    width: 30vw; /* 任意の幅 */
    height: 30vw; /* 任意の高さ */
    overflow: hidden; /* 子要素がはみ出た場合に隠す */
}


.introduce-img img {
    width: 100%;
    height: 90%;
    object-fit: cover; /* アスペクト比を維持しながら親要素を完全に覆う */
}

.introduce1 {
    width: 100%;
    
}

.introduce-title {
    font-size: 3vw;
    padding: 0 15px;
    background: linear-gradient(90deg, rgb(8, 194, 255),rgb(0, 107, 255));
}

.introduce-caption {
    font-size: 2vw;
    margin:0 15px;
    padding-top: 2vw;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 100px;
    background-color:rgb(0, 107, 255);
}

.sns {
    height:60px;
}
.fab {
    font-size: 4vw;
}
.fa-instagram {
    padding: 0 20px;
}

small {
    font-size: 2vw;
}